<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="padding-bottom: 100px;">
      <div class="carousel-item active">
        <img src="https://fastly.picsum.photos/id/225/1080/566.jpg?hmac=H7YABo6nURDAOwFu_VLJg8tNf0XXoUfIon1CULYKoSQ" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://fastly.picsum.photos/id/1/1080/566.jpg?hmac=HIPewTrWWqa7NOu2zkNscG8lOosxpQhKNb7HE8k_VTA" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://fastly.picsum.photos/id/225/1080/566.jpg?hmac=H7YABo6nURDAOwFu_VLJg8tNf0XXoUfIon1CULYKoSQ" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>